version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:22.16.0
      - image: postgis/postgis:14-3.5
        environment:
          POSTGRES_PASSWORD: odktest

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Check for large files
          command: |
            set +e
            find . -size +1000000c -not -path './.git/*' | grep .
            [[ $? -eq 1 ]]
      - run: make check-file-headers
      - run: npm ci
      - run: node lib/bin/create-docker-databases.js
      - run: make test-ci
      - store_test_results:
          path: ./junit-reports
