version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:20.10.0
      - image: cimg/postgres:14.10
        environment:
          POSTGRES_PASSWORD: odktest

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Check for large files
          command: |
            set +e
            find . -size +1Mc -not -path './.git/*' | grep .
            (( $? == 1 ))
      - run: make check-file-headers
      - run: npm ci --legacy-peer-deps
      - run: node lib/bin/create-docker-databases.js
      - run: make test-ci
      - store_test_results:
          path: ./junit-reports
