version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:22.21.1
      - image: cimg/postgres:14.19
        environment:
          POSTGRES_PASSWORD: odktest

    working_directory: ~/repo

    steps:
      - checkout
      - run: make check-for-large-files
      - run: make check-file-headers
      - run: npm ci
      - run: node lib/bin/create-docker-databases.js
      - run: make test-ci
      - store_test_results:
          path: ./junit-reports
