name: OIDC e2e tests

on: push

env:
  DEBUG: pw:api
  ODK_PLAYWRIGHT_BROWSERS: chromium,firefox,webkit

jobs:
  oidc-e2e-test:
    timeout-minutes: 6
    # TODO should we use the same container as circle & central?
    runs-on: ubuntu-latest
    services:
      # see: https://docs.github.com/en/enterprise-server@3.5/actions/using-containerized-services/creating-postgresql-service-containers
      postgres:
        image: postgres:14.10
        env:
          POSTGRES_PASSWORD: jubilant
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20.10.0
        cache: 'npm'
    - run: sudo apt-get install -y wait-for-it
    - run: make test-oidc-e2e
    - name: Archive playwright screenshots
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: Playwright Screenshots
        path: test/e2e/oidc/playwright-results/**/*.png
