name: OIDC e2e tests

on:
  push:
  pull_request:

env:
  DEBUG: pw:api
  ODK_PLAYWRIGHT_BROWSERS: chromium,firefox,webkit

jobs:
  oidc-e2e-test:
    timeout-minutes: 6
    # TODO should we use the same container as circle & central?
    runs-on: ubuntu-latest
    services:
      # see: https://docs.github.com/en/enterprise-server@3.5/actions/using-containerized-services/creating-postgresql-service-containers
      postgres:
        image: postgres:14.20
        env:
          POSTGRES_PASSWORD: odktest
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:

    # This one weird trick speeds up every build!
    # see: https://github.com/getodk/central-backend/pull/1642
    # see: https://github.com/actions/runner/issues/4030
    - run: sudo apt-get remove --purge man-db

    - uses: actions/checkout@v4
    - name: Set node version
      uses: actions/setup-node@v4
      with:
        node-version-file: package.json
        cache: 'npm'
    - run: make test-oidc-e2e
    - name: Archive Playwright Test Report
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: Playwright Test Report
        path: test/e2e/oidc/playwright-tests/results/html-report/
