name: S3 E2E Tests

on:
  push:
  pull_request:

jobs:
  s3-e2e:
    timeout-minutes: 15
    # TODO should we use the same container as circle & central?
    runs-on: ubuntu-latest
    services:
      # see: https://docs.github.com/en/enterprise-server@3.5/actions/using-containerized-services/creating-postgresql-service-containers
      postgres:
        image: postgres:14.10
        env:
          POSTGRES_PASSWORD: odktest
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v4
    - run: make fake-s3-server-persistent
    - name: Set node version
      uses: actions/setup-node@v4
      with:
        node-version: 22.21.0
        cache: 'npm'
    - run: npm ci
    - run: node lib/bin/create-docker-databases.js
    - name: E2E Test
      timeout-minutes: 10
      run: ./test/e2e/s3/run-tests.sh
