name: Full Standard Test Suite

on:
  push:
  pull_request:

jobs:
  standard-tests:
    timeout-minutes: 20
    # TODO should we use the same container as circle & central?
    runs-on: ubuntu-latest
    services:
      # see: https://docs.github.com/en/enterprise-server@3.5/actions/using-containerized-services/creating-postgresql-service-containers
      postgres:
        image: postgres:14.20
        env:
          POSTGRES_PASSWORD: odktest
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v4
    - name: Set node version
      uses: actions/setup-node@v4
      with:
        node-version-file: package.json
        cache: 'npm'
    - run: make check-for-large-files
    - run: npm ci
    - run: make api-docs-lint
    - run: node lib/bin/create-docker-databases.js
    - run: make test
